* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#navBar {
    width: 100%;
    color: white;
    background: rgb(245, 117, 138);
    height: 10%;
    display: flex;
    align-items: center;
    
}
ul{
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
li {
    width: 20%;
}

.test {
    height: 200px;
    width: 300px;
    margin-bottom: 5%;
    margin-top: 10%;
}
#main {
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.texte {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-bottom: 1%;
}
.boxcontent {
    margin-right: 5%;
    display: flex;
}
.titre {
    font-weight: bold;
    margin-bottom: 3%;
}
span {
    font-weight: bold;
}
.noteInteger {
    font-weight: bold;
    margin-top: 5%;
}
.genreAge {
    display: flex;
    margin-bottom: 5%;
}
.column {
    margin-top: 5%;
    margin-left: 3%;
}
.codePostal {
    margin-top: 5%;
}
button {
    margin-top: 4%;
    height: 40px;
    width: 60px;
    color: aliceblue;
    background: rgb(0, 174, 255);
    border-radius: 20%;
    font-size: 1.3rem;
}
